:root {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  
  --text: #182a18;
  --background: #bcdba3;
  --primary: #43d674;
  --secondary: #40b567;
  --accent: #80ef80;
}

.appParentDiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.green{
  color: var(--secondary);
}

.red{
  color: #bf3b3b;
}
